{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "ignorePatterns": [
    "node_modules/",
    "dist/",
    "test/"
  ],
  "rules": {
    "no-useless-constructor": "off",
    "indent": [
      "warn",
      2
    ],
    "lines-between-class-members": "off",
    "comma-dangle": "off",
    "@typescript-eslint/camelcase": "off"
  }
}